

.my-ideas-container {
    .title {
        display: inline-block;
        vertical-align: middle;
        margin-left: 50px;
    }
    .plus-button {
        margin-left: 50px;
        display: inline-block;
        vertical-align: middle;
    }
    .select-block {
        display: inline-block;
        padding: 0 20px;
    }
}
